body {
    font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #555;
}

a {
    color: #4B99AD;
    text-decoration: none;
}

#information {
    color: #555;
}

#error {
    color: #CC0000;
}

#page-wrap {
    width: 800px;
    border-radius: 5px;
    background: #ddd;
    padding: 10px;
    height: 400px;
    position: absolute;
    margin-top: -200px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
}

#home {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

#center {
    text-align: center;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input[type=submit], input[type=button], button {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
