<!DOCTYPE html>
<!--
  ~ Copyright 2017 Wultra s.r.o.
  ~
~ This program is free software: you can redistribute it and/or modify
~ it under the terms of the GNU Affero General Public License as published
~ by the Free Software Foundation, either version 3 of the License, or
~ (at your option) any later version.
~
~ This program is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~ GNU Affero General Public License for more details.
~
~ You should have received a copy of the GNU Affero General Public License
~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PowerAuth Web Flow Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11, IE=10, IE=9, IE=edge"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="PowerAuth Web Flow Demo"/>
    <meta name="author" content="Wultra s.r.o."/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>
<body>

<div id="content">
    <div th:style="${operationId} ? 'visibility: hidden' : ''">
        <div class="wrapper text-center">
            <p>
                <img class="logo" src="./images/logo.png" alt="logo"/>
            </p>
            <div class="operations">
                <table class="operations-table">
                    <tr>
                        <td>
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                <li th:each="opConfig : ${availableOperations}" role="presentation" th:classappend="${opConfig.isDefault()} ? 'active' : ''">
                                    <a th:text="${opConfig.getName()}" th:href="'#'+${opConfig.getType().name()}" th:attr="aria-controls=${opConfig.getType().name()}" role="tab" data-toggle="tab">NAME</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <div class="tab-content">
                                <div th:each="opConfig : ${availableOperations}" th:classappend="${opConfig.isDefault()} ? 'active' : ''" role="tabpanel" class="tab-pane" th:id="${opConfig.getType().name()}">
                                    <div th:if="${opConfig.getType().name() == 'LOGIN'}" class="padding text-left">

                                        <div th:if="${!authenticated}">
                                            <p>
                                                Select the third party connection type:
                                            </p>
                                            <form th:action="@{/oauth2/authorization/democlient}" method="POST">
                                                <p>
                                                    <label class="radio"><input id="scope_aisp" type="radio" name="scope" value="aisp" checked="checked"/> AIS - Account Information Service Provider</label>
                                                </p>
                                                <p>
                                                    <label class="radio"><input id="scope_pisp" type="radio" name="scope" value="pisp"/> PIS - Payment Initiation Service Provider</label>
                                                </p>
                                                <button type="submit" class="btn btn-lg btn-success">Connect</button>
                                            </form>
                                        </div>

                                        <div class="authorized" th:if="${authenticated}">
                                            <p>
                                                User ID of a connected user: <span class="tint"><span
                                                    th:text="${userName}">user display name</span></span>!
                                            </p>
                                            <form id="disconnect" th:action="@{/logout}" method="POST">
                                                <button type="submit" class="btn btn-lg btn-danger">Disconnect</button>
                                            </form>
                                        </div>

                                    </div>
                                    <div th:if="${opConfig.getType().name() == 'AUTHORIZATION'}" class="padding text-left">
                                        <p>
                                            Authorize operation with ID:
                                        </p>
                                        <form th:action="@{/oauth2/authorization/democlient}" method="POST" id="operationAuthorizeForm">
                                            <div class="input-group input-group-lg">
                                                <input type="text" class="form-control" name="operation_id"
                                                       th:value="${operationId}" placeholder="Operation ID"/>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-success">Authorize</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Operation ID was set by server, submit the operationAuthorizeForm form
        const operationId = $('#operationAuthorizeForm input[name="operation_id"]').val();
        if (operationId) {
            $('#operationAuthorizeForm').submit();
            return;
        }
        // No action from server, show the form and allow the user make some action
        $('#content').show();
    });
</script>

</body>
</html>
