<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/main.css"/>

</head>

<body>

<div class="container">

    <div id="content" layout:fragment="content" style="display: none;">
        Content goes here
    </div>

</div>

<script src="./js/jquery-1.12.4.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var operationId = $('#operationAuthorizeForm input[name="operation_id"]').val();
        if (operationId) {
            $('#operationAuthorizeForm').submit();
        } else {
            $('#content').fadeIn();
        }
    });
</script>

</body>
</html>