<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:inline="text">[[${title}]]</title>
    <link rel="stylesheet" href="./resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./resources/css/react-select.css"/>
    <link rel="stylesheet" href="./ext-resources/css/main.css"/>
    <link rel="stylesheet" th:if="${stylesheet != null}" th:href="${stylesheet}"/>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var lang = [[${lang}]];

    var I18N_EN = {locale: 'en', messages: JSON.parse(/*[[${i18n_EN}]]*/)};
    var I18N_CS = {locale: 'cs', messages: JSON.parse(/*[[${i18n_CS}]]*/)};

    var csrf = {headerName: [[${_csrf.headerName}]], token: [[${_csrf.token}]]}
    /*]]>*/
</script>

<div id="page-wrap">
    <div id="react"></div>
</div>

<script src="./resources/js/built/bundle.js"></script>

</body>
</html>