html {
    background-image: url(../images/background.png);
    background-position: center center;
    background-size: cover;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
    color: #b3b3b3;
    font-size: 13pt;
    font-weight: 400;
    background: transparent;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#logo + div {
    background: #000000;
    border-radius: 8px;
}

a {
    color: #439fe6;
    text-decoration: none;
}

p {
    font-weight: 300;
}

a:hover, a:active, a:focus {
    color: #195380 !important;
    text-decoration: none;
}

.message-information {
    color: #b3b3b3;
    word-wrap: break-word;
}

.message-success {
    color: #4BA819;
    word-wrap: break-word;
}

.network-error {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    background-color: #383838;
    color: #F0F0F0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0 24px -1px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(150, 150, 150, 1);
    box-shadow: 0px 0px 24px -1px rgba(150, 150, 150, 1);
}

.message-error {
    background: #940404;
    color: #ffffff;
    word-wrap: break-word;
    padding: 5px;
    margin: 0 0 3px;
    border-radius: 6px;
    font-size: 15px !important;
    font-weight: 300;
    border: 1px solid rgb(226, 0, 0);
}

.text-center >.message-error:first-child, .text-center > .message-error:last-child, .Select .message-error {
    color: red;
    border: 0;
    background: transparent;
}

.Select .message-error {
    font-weight: 400;
}

.font-small {
    font-size: 12pt;
}

.font-tiny {
    font-size: 10pt;
}

#logo {
    margin-bottom: 30px;
    height: 30px;
    background-image: url("../images/logo.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#page-wrap {
    margin: 120px auto 40px auto;
    max-width: 980px;
}

#react {
    margin-left: 10px;
    margin-right: 10px;
}

#home {
    min-height: 400px;
}

.content-wrap {
    margin: 0 auto;
    width: 100%;
}

.btn-default {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #222222 !important;
    color: white !important;
    border: none;
}

.btn-success {
    background-color: #7FC000;
    border: none;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #4c7400 !important;
    color: white !important;
    border: none;
}

.image {
    margin: 40px auto;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.image.mtoken {
    background-image: url("../images/token.png");
    width: 120px;
    height: 120px;
    margin: 20px auto;
}

.image-result {
    margin: 30px auto;
    width: 80px;
    height: 80px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-result.error {
    background-image: url("../images/image-error.png");
}

.image-result.success {
    background-image: url("../images/image-information.png");
}

#lang {
    position: absolute;
    top: 10px;
    right: 10px;
}

#lang a {
    color: white;
    text-decoration: underline;
}

#lang a:hover {
    color: white !important;
    text-decoration: none;
}

#operation .panel-body {
    padding: 30px;
    min-height: 400px;
}

#operation .operation-approve {
    text-align: center;
}

#operation .operation-approve h3 {
    color: #439fe6;
    font-size: 21pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

#operation .operation-approve p {
    color: #ffffff;
    font-size: 18px;
}

#operation .key {
    color: #b3b3b3;
    word-wrap: break-word;
}

#operation .value {
    color: white;
    word-wrap: break-word;
}

#operation .col-xs-6.key {
    text-align: left;
}

#operation .col-xs-6.value {
    text-align: right;
}

#operation .col-xs-12 .key {
    text-align: left;
}

#operation .col-xs-12 {
    text-align: left;
}

#operation .col-xs-12 .value {
    text-align: left;
}

#operation .amount {
    font-size: 16pt;
}

#operation .currency {
    color: #439fe6;
    font-size: 16pt;
}

#operation .heading {
    font-size: 16pt;
    color: #439fe6;
}

#operation .attribute {
    margin-top: 10px;
    margin-bottom: 10px;
}

#operation .auth-actions {
    margin-top: 20px;
}

#operation .buttons {
    margin-top: 20px;
}

#operation .btn {
    width: 100%;
}

/* Base styling */

.tint {
    color: #439fe6;
}

.strong {
    font-weight: bold;
}

/* React Select Fix */

.Select-input {
    height: 68px;
}

.Select-placeholder {
    line-height: 68px
}

/* LOGIN */

#login .panel-body {
    padding: 30px;
}

#login .panel-body .title {
    color: gray;
}

#login .buttons {
    margin-top: 40px;
}

#login .btn {
    width: 100%;
}

.tab-content {
    margin-top: -10px;
    border-radius: 8px;
}

.panel {
    background: transparent;
    border: 0;
    border-radius: 0 0 8px 8px;
    transition: 0ms;
}

.title {
    font-size: 21px;
    font-weight: 300;
    margin: 10px;
}

.alert {
    font-size: 12pt;
    text-align: left;
    width: 100%;
    padding: 5px;
    font-weight: 300;
    text-align: center;
}

.alert-form {
    margin: 0 0 15px 0;
    padding: 10px 5px;
}

.alert-field {
    margin: 0;
    padding: 2px 15px 2px 15px;
}

.party-info-wrapper {
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 10px;
}

.party-info-wrapper * {
    margin: 0;
}

.party-info-logo-wrapper {
    padding: 10px;
}

.party-info-logo {
    width: 100%;
}

.party-info-name {
    font-size: 16pt;
    font-weight: bold;
}

.party-info-description {
    font-size: 14pt;
}

.party-info-link {
    font-size: 12pt;
}

.organization .Select-control {
    margin-bottom: 15px;
}

.organization .Select-input {
    height: 34px;
}

.organization .Select-value-label {
    font-size: 14px;
    text-align: left;
    padding-left: 2px;
}

.organization .Select-option {
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
}

.nav-tabs {
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px dotted #222222;
    text-align: center;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    color: #999999;
    background-color: black;
    text-decoration: none;
    border: 0 !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0;
    transition: .3s;
    text-align: center;
    margin-right: 1px;
}

.nav-tabs > li > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a {
    background-color: #1a1a1a;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #439fe6 !important;
    color: #dddddd !important;
}

.consent-text {
    color: #b3b3b3;
    font-size: 12pt;
}

.consent-checkbox {
    vertical-align: top;
    margin-top: 6px !important;
}

.consent-option-prefix {
    vertical-align: top;
    margin-top: 2px;
    display: inline-block;
    width: 12px;
}

.consent-option-text {
    color: #b3b3b3;
    display: unset;
    font-size: 12pt;
    font-weight: normal;
}

.consent-nopadding {
    padding: 0;
}

.consent-error {
    background: #940404;
    color: #ffffff;
    word-wrap: break-word;
    padding: 5px;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 15px !important;
    font-weight: 300;
    border: 1px solid rgb(226, 0, 0);
}

.consent-option-error {
    color: rgb(226, 0, 0);
    font-size: 10pt;
}

.sms-resend-active {
    color: #7FC000;
}

.sms-resend-active:hover {
    cursor: pointer;
}

.sms-resend-disabled {
    color: #b3b3b3;
}

form-control:focus {
    box-shadow: inset 0 0 10px #439fe677 !important;
}

.form-control {
    background: #e2e2e2;
    color: #000000;
    border: 0;
}

.form-group .form-control {
    height: 44px;
    padding: 14px 16px;
    font-size: 21px;
    line-height: 1.2;
    border-radius: 0;
    font-weight: 300;
    overflow: auto;
}

#login .form-group .form-control {
    border-radius: 6px;
}